 <div class="col-md-12 container-fluid row footer g-0" style="padding-top: 2%; padding-bottom: 2%;">
    <div class="col-md-4">
        <p>Recources</p>
        <p>Study Skills</p>
        <p>LHC Recources</p>
        <p>Helpdesk</p>
        <p>ProPortal</p>
        <p>Office 365</p>
    </div>
    <div class="col-md-4">
        <p>Student services</p>
        <p>Study Skills</p>
        <p>LHC Recources</p>
        <p>Helpdesk</p>
        <p>ProPortal</p>
        <p>Office 365</p>
    </div>
    <div class="col-md-4">
        <p>Where to find us</p>
        <p>Study Skills</p>
        <p>LHC Recources</p>
        <p>Helpdesk</p>
        <p>ProPortal</p>
        <p>Office 365</p>
    </div>
  </div>