    <div>
        <div class="container-fluid" style="height: 35px; background-color: #00ADFB;"></div>
        <div class="container-fluid bg-light" style="height: 3px;"></div>
        <div class="container-fluid bg-dark column" style="height: fit-content; width: 100%;margin: 0; position: relative;min-height: 130px;">
        
            <div class="container-fluid row m-0 justify-content-between">
                <h1 class="col-sm-8" style="color: white; margin-top:10px ;">Level 4 software course</h1>
                <div class="col-1 py-3">
                    <button id='login-button' class='btn btn-secondary'>
                        Login
                    </button>
                    <button id='logout-button' class='btn btn-secondary d-none'>
                        Logout
                    </button>
                </div>
            </div>
           
            <div id='nav-wrapper' class="container-fluid row g-0" style="height: 40px; width: 100%; position: absolute; bottom: 0; left: 0;">
    
                <div class="navButton" id="home">
                    <p>Home</p>
                </div>
                
                <div class="navButton" id="college">
                    <p>College</p>
                </div>
                <div class="navButton" id="work">
                    <p>Work</p>
                </div>
                <div class="navButton" id="summary">
                    <p>Summary</p>
                </div>
                <div class="navButton" id="faqs">
                    <p>FAQs</p>
                </div>
                <div class="navButton" id="videos">
                    <p>Videos</p>
                </div>
                <div class="navButton" id="example-work">
                    <p>Example Work</p>
                </div>
                <div class="navButton" id="syllabus">
                    <p>Syllabus</p>
                </div>
                <div class="navButton" id="specimen-papers">
                    <p>Specimen Papers</p>
                </div>
                
            </div>
    
        </div>
        <div class="container-fluid" style="height: 3px;background-color: #00ADFB;"></div>
    </div>


