<div>
    <div class="container-fluid" style="height: 35px; background-color: #00ADFB;"></div>
    <div class="container-fluid bg-light" style="height: 3px;"></div>
    <div class="container-fluid bg-dark column" style="height: fit-content; width: 100%;margin: 0; position: relative;min-height: 130px;">
    
        <div class="container-fluid row m-0">
            <h1 class="col-sm-8" style="color: white; margin-top:10px ;">Level 4 software course</h1>
            <div class="col-4">
              <input type="email" class="input-sm" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search ..." style="width: 180px; height: 30px; margin-top: 20px;">    
              <button id="login-toggle" class="btn btn-secondary btn-sm ml-auto">Login</button>
              <button id="logout" class="btn btn-secondary btn-sm ml-auto d-none">Logout</button>
            </div>
        </div>
        
        <div class="container-fluid row g-0" style="height: 40px; width: 80%; position: absolute; bottom: 0; left: 0;">

            <div class="navButton" id="homeButton" style="background-color: #00ADFB;margin: 0; height: 100%; width: 100px; display: flex; align-items: center;border-radius: 0 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center; cursor: pointer;">Home</p>
            </div>
            <div class="navButton" id="aboutButton" style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center;border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">About Us</p>
            </div>
            <div class="navButton" id="helpButton"style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center; border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">Help</p>
            </div>
            <div class="navButton" id="staffButton" style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center; border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">Jude's Area</p>
            </div>
            <div class="navButton" id="studentButton" style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center; border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">Student Area</p>
            </div>
            <div class="navButton" id="resourceButton" style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center; border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">Resources</p>
            </div>
            <div class="navButton" id="courseButton" style="margin: 0; height: 100%; width: 100px; display: flex; align-items: center; border-radius: 5px 5px 0 0;">
                <p style="color: white; height: 20px;margin: 0;width: 100px; text-align: center;cursor: pointer;">Courses</p>
            </div>
            
        </div>

    </div>
    <div class="container-fluid" style="height: 3px;background-color: #00ADFB;"></div>
</div>