<h1>College</h1>
<p>Apprentices are paid for both their time at work, and their time at the College. They also get 20 days paid holiday per year, plus bank holidays. 
<br>Depending on the subject you study; usually it’s once per week for a half or full day. Some however, are once a fortnight. 
<br>These College sessions are included in your working week of 30+ hours. 
<br>You will be supported by experienced course tutors, assessors, an Apprenticeship Coordinator and line manager at work. You will be visited regularly 
<br>by the college in the workplace. </p>