<h1>College</h1>
<p>Here we would talk about the college site, giving a general overview of what the college is like. </p>
<p>We would also give some information on what your experience would be like whilst in college. </p>
