<h1> FAQs </h1>
		<p> Here is some questions that you as a potential apprentice may want to ask: </p>
			<h2> How long does the apprenticeship last? </h2>
				<p> 18-24 months. </p>
			<h2> Is there much homework? </h2>
				<p> You will often be assigned homework weekly to complete for the next lecture. </p>
			<h2> What modules make up the course? </h2>
				<p> There are 2 modules that make up the apprenticeship course: 
					<br> - Knowledge Module 1: Software Development Methodologies
					<br> - Knowledge Module 2: Software Languages
				</p>
			<h2> How is the course assessed? </h2>
				<p> It will be assessed by an exam invigilator from the British Computer Society (BCS) by interview and discussion about your 
					<br> submitted portfolio showing work you have done throughout your apprenticeship. 
				</p>
			<h2> How often do I attend college? </h2>
				<p> 1 day per week during the school term. </p>
			<h2> Are there a lot of essays for homework? </h2>
				<p> You will have the opportunity to work with different applications such as Microsoft applications to produce and display work. </p>  
			<h2> Do I get to develop a piece of software or website? </h2>
				<p> Yes, you get to work on a personal software project and a chance to work as team to develop a functioning website for the college. </p> 
			<h2> How long are the lectures for? </h2>
				<p> The lectures will last 6 hours. </p> 
			<h2> What are the entry requirements for the course? </h2>
				<p>There is not set requirements as the employer sets their requirements, however it'll typically include one or more of the following:
					<br> - A Levels
				    <br> - Level 3 Apprenticeship Completion
				    <br> - Other relevant qualifications or experience
				    <br> - Aptitude test with a focus on functional maths 
				</p>
			<h2> Do I need to be able to understand coding? </h2>
				<p> Its not essential to understand coding to be successful on this course but it is beneficial. </p>