 <h1>Specimen Papers</h1>
	<p>Here you can find some specimen papers for the knowledge modules required for the level 4 software developer course.</p>
	<h2>Software Development Methodologies</h2>
	<p>You can find a PDF of a specimen paper from BCS on this course <a href="https://www.bcs.org/media/1764/software-developer-methodologies-specimen-paper.pdf">here</a></p>
	<h2>Software Languages</h2>
	<p>You can find a PDF of a specimen paper from BCS on this course <a href="https://www.bcs.org/media/1767/software-developer-software-languages-specimen-paper.pdf">here</a></p>